@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

.react-mde {
  border-radius: 0.375rem !important;

  .mde-header {
    background: #fff;
    border-bottom: 0;
    font-size: small;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;

    .mde-tabs {
      margin: 1px;
    }

    .selected {
      border-radius: 5px;
    }
  }

  .mde-text {
    font-size: 0.875rem;
  }

  .image-tip {
    background: #fff;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }
}

.mde-preview h1,
.mde-preview h2,
.mde-preview p,
.mde-textarea-wrapper textarea {
  font-size: inherit !important;
}

.mde-preview h1,
.mde-preview h2,
.mde-preview p {
  border-bottom: 0 !important;
}

.mde-preview {
  .mde-preview-content {
    padding: 0 !important;
  }
}

.react-mde {
  .mde-preview {
    .mde-preview-content {
      padding: 10px !important;
    }
  }
}